@{
    ViewBag.Title = "Contact";
}

<address>
    Git hub: <a href="https://github.com/Azure/azure-functions-performance-test/">https://github.com/Azure/azure-functions-performance-test/</a>
</address>
