@{
    ViewBag.Title = "Summary";
}

<div class="jumbotron">
    <h1>Testing serverless performance...</h1>
    <p class="lead">TODO</p>
</div>

Tests running: @ViewBag.Tests.Count
@foreach (var test in ViewBag.Tests)
{
    <p>@test.Name</p>
}

<div class="jumbotron">
    Test1
</div>

<div class="jumbotron">
    Test2
</div>

<div class="jumbotron">
    Test3
</div>