@{
    ViewBag.Title = "Summary";
}

<div class="jumbotron">
    <h1>Testing serverless performance...</h1>
    <p class="lead">TODO</p>
</div>

<div class="jumbotron">
    Test1
</div>

<div class="jumbotron">
    Test2
</div>

<div class="jumbotron">
    Test3
</div>