<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
    <add key="AWSAccessKey" value="" />
    <add key="AWSSecretKey" value="" />
    <add key="AWSRegion" value="" />
    <add key="AzureStorageConnectionString" value="" />
    <add key="DbConnectionString" value="" />
</appSettings>