<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="AzureStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=bs4xojj7x225oazfunctions;AccountKey=TPRv3mxbGZ97MTD0jyYMx+6Q55lxRrzycQm6d1yfkQhC0wVkB2IhPgBzHoUn6ADSH92M3VqWaUZw6tENj//dkg==" />
    </appSettings>
</configuration>